/*******fonts*********/
@font-face {
    font-family: "Helvetica_UltraLight";
    src: url(../fonts/HelveticaNeueLT-UltraLight.otf);
}
@font-face {
    font-family: "Helvetica_Light";
    src: url(../fonts/HelveticaNeueLT-Light.ot);
}


#js_case_study h3{
    color: green;
    font-family: "Helvetica_Light", "arial", "sanserif";
    margin-left: 4px;
    margin-bottom: 6px;
}
#js_case_study p{
    padding: 10px;
    background: #f5f5f5;
    font-family: "Helvetica_Light", "arial", "sanserif";
    font-size: 14px;
    margin: 8px 0 8px 0;
    letter-spacing: 0.01em;
}
#example h3{
    color: dimgrey;
    font-family: "Helvetica_Light", "arial", "sanserif";
    margin-left: 4px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 6px;
    background: #f5f5f5;
}   